body {
	color : black;
	background-color : white;
	background-image : url(./../image/lego.jpg);
}

h1 {
	color : #A60606;
	font-family : Snap ITC;
	text-align : center;
}

h2 {
	text-align : center;
}

/* Paramètres relatifs à la présentation sur la page principale du site */
#presentation {
	font-size : 14px;
	color : black;
	font-family : comic sans ms;
	text-align : justify;
	float : left;
	margin-left: 10%;
	width:60%;
}

table {

}

th, td {
	padding : 15px;
	text-align : justify;
}

img.encadrephoto {
	display : block;
	border-style : solid;
	border-width : 5px;
	border-color : #000000;
	background-color : #000000;

}

/* Permet un espace entre les <li> sans erreur w3c */
li.space {
  padding-top : 25px;
}

/****************************** Menu ********************************/

#navigation {
/* Style g�n�ral de la liste*/
	text-align : center;
	list-style : none;
	margin : 0;
	padding : 0;
}

#navigation li {
/* style de chaque case */
	display: inline; /* Met a liste � la verticale */
	color : #FFFFFF;
	margin-right : 1px;
}

#navigation li a {
/* On fait en sorte que le lien remplisse toute la case */
	background : #CE0000;
	color : #FFFFFF;
	border : 1px solid #003066;
	font : 1em "valken", Arial;
	line-height : 1em;
	text-align : center;
	text-decoration : none; /* Supression du soulignement */
	padding : 4px 20px; /* A�ration du menu*/
}

#navigation li a:hover, #navigation li a:focus,
#navigation li a:active {
/* Les changements affich�s quand on survole avec la souris */
	background : #6E0000;
	text-decoration : underline;
}

/*************************** Positionnement **************************/
/* Permet les positionnements des recherches et afffichages des résulats (jeux) */
#search {
	float:left;
  width:120px;
}

#games {
    float : none;
		margin-left: 125px;
}

/* Permet les positionnements gauche et droits des boutons dans commandes.php */
#gauche {
	margin-left: 1%;
	float:left;
}

#droite {
	margin-left: 15%;
}

/* Positionne la partie formulaire connexion et inscription dans les différentes pages */
form.connexion {
	margin-left : 30%;
}

/* Positionne le texte précisant si on est connecté ou non en haut à gauche de la page */
#connecte {
	margin-left : 3%;
}

/* Paramètre relatifs au placement des horaires sur la page principale */
#horaires {
	width:15%;
	margin-left: 75%;
}

#deco {
	text-align: center;
}
