body {
	color : black;
	background-color : white;
	background-image : url(./../image/lego.jpg);
}

h1 {
	color : #A60606;
	font-family : Snap ITC;
	text-align : center;
}

h2 {

}

h3 {

}

table {

}

th, td {
	padding : 15px;
	text-align : justify;
}

p.text {
	font-size : 14px;
	color : black;
	font-family : comic sans ms;
	text-align : justify;
	margin-left: 10%;
	margin-right: 10%;
}

img.encadrephoto {
	display : block;
	border-style : solid;
	border-width : 5px;
	border-color : #000000;
	background-color : #000000;

}

/****************************** Menu ********************************/

#navigation {
/* Style g�n�ral de la liste*/
	text-align : center;
	list-style : none;
	margin : 0;
	padding : 0;
}

#navigation li {
/* style de chaque case */
	display: inline; /* Met a liste � la verticale */
	color : #FFFFFF;
	margin-right : 1px;
}

#navigation li a {
/* On fait en sorte que le lien remplisse toute la case */
	background : #CE0000;
	color : #FFFFFF;
	border : 1px solid #003066;
	font : 1em "valken", Arial;
	line-height : 1em;
	text-align : center;
	text-decoration : none; /* Supression du soulignement */
	padding : 4px 20px; /* A�ration du menu*/
}

#navigation li a:hover, #navigation li a:focus,
#navigation li a:active {
/* Les changements affich�s quand on survole avec la souris */
	background : #6E0000;
	text-decoration : underline;
}

/*************************** Positionnement **************************/

#gauche {
		float:left;
    width:10%;
}

#droite {
    /*overflow:auto;*/
		margin-left: 11%;
}
